{% extends 'home/nav.html'%}

{% block body%}
<nav aria-label="breadcrumb" class='mt-2'>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/myquizes">My Quizes</a></li>
        <li class="breadcrumb-item active" aria-current="{{quiz.name}}">{{pagetitle}}</li>
    </ol>
</nav>
<div class="card my-2">
    <div class="card-body">
        <h5 class="card-title">{{quiz.name}}</h5>
        <a href="/addquestion/{{quiz.id}}" class="btn btn-outline-warning">Add Question</a>
        {% for question in questions %}
        <div class="modal fade" id="modal{{question.id}}" tabindex="-1" role="dialog" 
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Question</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are Your Sure?
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-secondary" data-dismiss="modal">Close</a>
                        <a type="button" href="/deletequestion/{{question.id}}" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            </div>
        </div>  

        <div class="card my-1">
            <div class="card-body">
                <h5 class="card-title">{{ question.question }}</h5>
                <a data-toggle="modal" data-target="#modal{{question.id}}" class="card-link text-danger">Delete Question</a>
            </div>
        </div>
        {% endfor%}
    </div>
</div>
{% endblock body%}