{% extends 'base.html'%}

{% block body%}

<form action="/submittest/{{quiz_id}}" method="POST" id="testform">
    {% csrf_token %}
    <input class="btn btn-primary m-2 btn-block" id="time" value="00:00" name="time">
    {% for question,answers in quiz%}
    <div class="form-group">
        <div class="card my-1">
            <div class="card-body">
                <h5 class="card-title"><span class="text-muted">Q.No:{{forloop.counter}} </span>{{ question.question }}
                </h5>
                <p class="card-text mb-0">Please select an option: </p>
                <select required class="form-control form-control-sm" name="{{question.id}}" id="{{question.id}}"
                    size="4" style="overflow: hidden;">
                    {% for answer in answers%}
                    <option value="{{answer.id}}">{{forloop.counter}}) {{answer.answer}}</option>
                    {% endfor%}
                </select>
            </div>
        </div>
    </div>
    {% endfor%}

    <div class="form-group">
        <button type="submit" class="btn btn-success btn-block">Submit Test</button>
    </div>
</form>
{% endblock body%}

{% block script%}
<script>

    let time = document.getElementById("time");
    let totalSeconds = 0;
    setInterval(setTime, 1000);

    function setTime() {
        ++totalSeconds;
        seconds = pad(totalSeconds % 60);
        minutes = pad(parseInt(totalSeconds / 60));
        time.value = minutes + ":" + seconds
    }

    function pad(val) {
        let valString = val + "";
        if (valString.length < 2) {
            return "0" + valString;
        } else {
            return valString;
        }
    }
</script>
{% endblock script%}